.cont {
	min-height: 380px;
	background: linear-gradient(rgba(242, 242, 242, 1), rgba(242, 242, 242, 0));
	p {
		color: red;
		font-size: 26px;
		text-align: center;
		line-height: 340px;
	}
}

.success {
	color: green !important;
}
