<div class="new-section-head">
  <p>Customer Support</p>
</div>

<div class="contact-us">

  <mat-card class="customer-support">
    <img matCardImage src="../../../assets/contact-us.jpg">
    <mat-card-content>
      <h4>Contact Us</h4>
      <p class="mobile-no"><a href="tel:+918588926926">
          <mat-icon fontSet="fas" fontIcon="fa-phone"></mat-icon> 8588-926-926
        </a>
      </p>
      <p class="email"> <a href="mailto:care@go4wealth.com">
          <mat-icon fontSet="far" fontIcon="fa-envelope"></mat-icon> care@go4wealth.com
        </a></p>
    </mat-card-content>
  </mat-card>

  <mat-card class="address">
    <img matCardImage src="../../../assets/location.jpg">
    <mat-card-content>
      <h4>Address</h4>
      <p>91 Springboard, </p>
      <p>Plot-23, Sector-18, Gurugram</p>
      <p>Haryana - 122015, India</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <img matCardImage src="../../../assets/recruitment.jpg">
    <mat-card-content>
      <h4>Recruitment</h4>
      <p>For employment opportunities,</p>
      <p> write to us at <a href="mailto:careers@go4wealth.com">careers@go4wealth.com</a></p>
      <p></p>
    </mat-card-content>
  </mat-card>

</div>

<div class="maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.6568638942977!2d77.05984731482587!3d28.489878697274378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d190c75978387%3A0x17945be54d719d4a!2sGo4Wealth+India+Private+Limited!5e0!3m2!1sen!2sin!4v1539111326089"
    width="100%" height="450" frameborder="10" style="border:10px;" allowfullscreen></iframe>
</div>