<div class="new-section-head">
  <p>Our Team</p>
</div>

<div class="teams">

  <div (click)="openDesc(0)">
    <div class="team-member">
    </div>
    <div class="info">
      <h4>Manu</h4>
      <h5>Founder & CEO</h5>
    </div>
  </div>

  <div (click)="openDesc(1)">
    <div class="team-member">
    </div>
    <div class="info">
      <h4>Rashmi</h4>
      <h5>Co-Founder & Director</h5>
    </div>
  </div>

  <div (click)="openDesc(3)">
    <div class="team-member">
    </div>
    <div class="info">
      <h4>Praveen</h4>
      <h5>Co-Founder & Distribution Head</h5>
    </div>
  </div>

  <div (click)="openDesc(2)">
    <div class="team-member">
    </div>
    <div class="info">
      <h4>Saurabh</h4>
      <h5>Technical Advisor</h5>
    </div>
  </div>

</div>