<footer>
  <div class="mat-container-fluid">
    <div class="mat-container flex-parent">

      <div class="no-padding">
        <ul>
          <li>
            <img class="logo" src="../../../assets/home_new/go4wealth-logo-white.png" alt="Go4wealth logo white">
            <h5>GO4WEALTH</h5>
          </li>
          <li>
            <a href="tel:+918588926926" class="phone">
              <mat-icon class="mat-18">call</mat-icon> +91-8588-926-926
              <!-- <mat-icon fontSet="fas" fontIcon="fa-phone"></mat-icon> +91-8588-926-926 -->
            </a>
          </li>
          <li>
            <a href="mailto:care@go4wealth.com">
              <mat-icon fontSet="fas" fontIcon="fa-envelope"></mat-icon> care@go4wealth.com
            </a>
          </li>
          <li>
            <a class="social-media-link" href="https://facebook.com/go4wealth/" target="_blank" rel="noopener">
              <mat-icon class="facebook" fontSet="fab" fontIcon="fa-facebook-square"></mat-icon>
            </a>
            <!-- <a class="social-media-link" href="https://medium.com/@go4wealth" target="_blank" rel="noopener">
                <mat-icon class="medium" fontSet="fab" fontIcon="fa-medium"></mat-icon>
              </a> -->
            <a class="social-media-link" href="https://twitter.com/go4wealthindia" target="_blank" rel="noopener">
              <mat-icon class="twitter" fontSet="fab" fontIcon="fa-twitter"></mat-icon>
            </a>
            <a class="social-media-link" href="https://in.linkedin.com/company/go4wealth" target="_blank"
              rel="noopener">
              <mat-icon class="linkedin" fontSet="fab" fontIcon="fa-linkedin"></mat-icon>
            </a>
            <a class="social-media-link" href="https://www.youtube.com/channel/UCEhWfNkOdj6oHxGc3n7E2Xg" target="_blank"
              rel="noopener">
              <mat-icon class="youtube" fontSet="fab" fontIcon="fa-youtube"></mat-icon>
            </a>
            <a class="social-media-link"
              href="https://wa.me/918588927927?text=Hi%20Go4Wealth%0AI%20am%20interested%20in%20Mutual%20Funds%20investment%2C%20please%20suggest..."
              target="_blank" rel="noopener">
              <mat-icon class="whats-app" fontSet="fab" fontIcon="fa-whatsapp"></mat-icon>
            </a>
          </li>
          <li>&#169; Go4Wealth India Pvt. Ltd.</li>
          <li></li>
        </ul>
      </div>

      <div>
        <ul>
          <li class="bold">About Us</li>
          <li><a routerLink="/about-pages/teams">Team</a></li>
          <li><a routerLink="">Our Research Method</a></li>
          <li><a routerLink="">Why Mutual Funds</a></li>
          <li><a routerLink="">Testimonials</a></li>
          <li><a routerLink="/about-pages/customer-support">Careers</a></li>
        </ul>
      </div>

      <div>
        <ul>
          <li class="bold">Resources</li>
          <li><a routerLink="/blogslist">Blogs</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="">Model Portfolio</a></li>
          <li><a routerLink="/about-pages/customer-support">Help & Consumer Support</a></li>
          <li><a href="https://www.mutualfundssahihai.com/en" target="_blank" rel="noopener">Mutual Fund Sahi Hai</a>
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li class="bold">Terms & Conditions</li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          <li><a routerLink="/terms-and-conditions">Terms of Use</a></li>
          <li><a routerLink="">Disclaimers</a></li>
          <li class="bold resp">Download App</li>
          <li class="g-play resp"><a href="https://play.google.com/store/apps/details?id=com.go4wealth" target="_blank"
              rel="noopener noreferrer"><img src="../../../assets/home_new/google-play.png" alt=""></a></li>
        </ul>
      </div>

      <div>
        <ul>
          <li class="bold g-play-head">Download App</li>
          <li class="g-play"><a href="https://play.google.com/store/apps/details?id=com.go4wealth" target="_blank"
              rel="noopener noreferrer"><img src="../../../assets/home_new/google-play.png" alt=""></a></li>
          <li class="hid">&nbsp;</li>
          <li class="bold hid">Platform Partners</li>
          <li class="partners">
            <a href="./../../../assets/home/G4W - AMFI - ARN letter.jpg" target="_blank"
              title="Go4Wealth Amfi ARN Letter">
              <img src="../../../assets/home_new/amfi-logo.png" alt="">
            </a>
            <a href="./../../../assets/home/G4W - BSE Registration.pdf" target="_blank"
              title="Go4Wealth BSE Registration Letter">
              <img src="../../../assets/home_new/bse.png" alt="">
            </a>
            <!-- <img src="../../../assets/home_new/icron.png" alt=""> -->
          </li>
          <li> <span id="siteseal"></span></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="mat-container-fluid declaration-cont">
    <div class="mat-container">
      <h6>Mutual Fund investments are subject to market risks, read all schemes related documents carefully,
        before investing. Past Performance is not an indicator of future returns.</h6>
      <h6 class="no-margin">© Go4Wealth India Pvt. Ltd. 2018 | All rights reserved | CIN : {{CIN_NO}} | ARN {{ARN_NO}}
      </h6>
    </div>
  </div>
</footer>