<div class="new-section-head">
  <p>About Us</p>
</div>

<div class="about-us">

  <div class="cover">
    <div class="left-side">
      <div>
        <h3><u>At Go4Wealth</u></h3>
        <p>We simplify investing and make it hassle free for investors. Our core belief is to help customers
          chose the right Mutual Fund.</p>
        <p>So <span><b>Explore</b> | <b>Prepare</b> | <b>Invest</b></span></p>
      </div>
      <div>
        <h4><u>Who We Are</u></h4>
        <p>We leverage technology and our deep understanding of investing to create non-biased and algorithm
          based selection of funds to make investment simple for our customer. So what customers do is to
          simply invest, create wealth and achieve their financial goals, and leave the worry of selecting the
          Mutual Funds to us.</p>
      </div>
    </div>

    <div class="right-side">
      <img src="../../../assets/funds/fund4.png" alt="">
    </div>
  </div>

</div>