<div class="cont">
  <div class="heading">
    <p>Select Goal</p>
  </div>

  <div class="goals">
    <form [formGroup]="goalFormGroup" (ngSubmit)="goalSubmit()" *ngIf="goals.length!=0">
      <mat-radio-group [formControl]="goalFormGroup.controls['goal']" color="primary">
        <mat-radio-button [value]="goal.goalId" *ngFor="let goal of goals" color="primary">{{goal.goalName}} </mat-radio-button>
      </mat-radio-group>
      <br>
      <button mat-flat-button color="primary" type="submit" [disabled]="goalFormGroup.invalid">Assign Goal</button>
    </form>
    <div class="no-goals" *ngIf="goals.length==0">
      <h5>You have not planned for your goals.</h5>
    </div>
  </div>
</div>