<div class="careers">
  <img src="../../../assets/careers.jpg" alt="">
  <div class="card-cont">
    <p>We have taken on ourselves the task of evangelizing the way people invest by promoting Mutual Funds.
      We wish to make investing a hassle free task and wealth creation a reality for people across age
      group. We wish to further spread financial literacy and objectivity in investment.</p>
    <p>
      We continuously strategize, engage with customers and creating meaningful campaigns to help our
      customers. Continuous improvement and Improvisation sums up our endeavor and is mantra for everyone
      at Go4Wealth.
    </p>
    <p>
      In case your aspiration match that of ours and you think you are equally passionate to help customers
      and contribute to the growth of company, do write back with your interest at careers@go4wealth.com
    </p>
  </div>
</div>